@import 'tailwindcss';

/* :root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
} */

:root {
    --color-bg: #0d1117;
    --color-green: #00ff9f;
    --color-blue: #00cfff;
    --color-purple: #a259ff;
    --color-text: #c9d1d9;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: var(--color-purple);
    color: black;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

input {
    background-color: #161b22;
    border: 1px solid var(--color-blue);
    color: var(--color-green);
    padding: 0.5rem;
}

.message {
    border-left: 4px solid var(--color-green);
    background: #10141b;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    color: var(--color-text);
}
